body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease, background-color 0.3s ease;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header {
  background-color: #86553f;
  color: #fff;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

header .logo .company-name {
  font-size: 1.875em;
  font-weight: 700;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  font-weight: 500;
}

header nav ul li a:hover {
  color: #dbb657;
  font-weight: 500;
}

header .auth-buttons {
  display: flex;
  gap: 20px;
}

header .auth-buttons a {
  color: #fff;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

header .auth-buttons .sign-in {
  background-color: transparent;
  border: 1px solid #fff;
}

header .auth-buttons .sign-up {
  background-color: #dbb657;
}

header .auth-buttons .dropdown {
  position: relative;
  display: inline-block;
}

header .auth-buttons .dropdown a.custom-icon {
  display: flex;
  align-items: center;
}

header .auth-buttons .dropdown a.custom-icon .user-info{
  display: inline;
  flex-direction: column;
  gap: 5px;
  margin-right: 3px;
}

header .auth-buttons .dropdown a.custom-icon .user-info .fa-user-circle {
  font-size: 2em;
}

header .auth-buttons .dropdown .custom-icon .username {
  display: inline-block;
  margin-right: 5px;
  font-size: 0.8em;
  margin-top: 2px;
  align-items: center;
  margin-left: 5px;
}

header .auth-buttons .dropdown a.custom-icon .fa-chevron-down {
  margin-left: 5px;
  font-size: 1em;
  gap: 5px;
}

header .auth-buttons .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
  list-style: none;
  right: 0;
  max-width: 150px;
}

header .auth-buttons .dropdown .dropdown-menu.show {
  display: block;
}

header .auth-buttons .dropdown .dropdown-menu li a {
  text-decoration: none;
  color: #86553f;
  display: block;
}

header .auth-buttons .dropdown .dropdown-menu li a.dropdown-item {
  padding: 10px 20px;
  margin-left: 2px;
  gap : 5px;
}

header .auth-buttons .dropdown .dropdown-menu li a.dropdown-item .fa-user, .fa-sign-out-alt {
  font-size: 1em;
  color: #dbb657;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #FAFAFA;
  margin-right: 15px;
  font-size: 46px;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9em;
}

main {
  padding: 40px;
  background-color: #f9f9f9;
}

.explore-title {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

.explore-title span {
  color: #dbb657;;
}

.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.filter-bar .categories {
  display: flex;
  gap: 15px;
}

.filter-bar .categories a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-family: 0.9em;
}

.filter-bar .categories a:hover {
  color: #dbb657;
}

.search-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-sort form {
  display: flex;
  align-items: center;
  width: 42%;
}

.search-sort form button {
  background-color: #dbb657;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  width: 40%;
}

.search-sort .search-collection {
  display: flex;
  align-items: center;
  border: 1px solid #86553f; /* Optional: Add border around the search box */
  border-radius: 5px; /* Smooth corners */
  padding: 5px; /* Spacing inside the container */
  width: 200%;
  margin: 10px; /* Optional: Restrict maximum width of the search bar */
}

.search-sort .search-collection i {
  font-size: 18px; /* Size of the search icon */
  margin-right: 10px; /* Space between the icon and input field */
  color: #999; /* Icon color */
}

.search-sort .search-collection input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px; /* Adjust font size */
  padding: 8px; /* Inner padding */
  flex: 1; /* Makes input take up available space */
  min-width: 0; /* Prevents overflow in small containers */
  color: #333; /* Text color */
}

.search-sort .search-collection input::placeholder {
  color: #aaa; /* Placeholder color */
}

.search-sort .sort-by {
  display: flex;
  align-items: center;
  width: 16.5%; /* Optional: Restrict maximum width of the select box */
}

.search-sort .sort-by select {
  border: none;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  margin: 10px;
}

.card {
  width: 25%;
  display: inline-block;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 2% 4% 2% 4%;
  opacity: 0.9;
  height: auto;
  border: 1px solid #795548;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.card .image-box{
  height: 2%;
}

.card .image-box img{
  height: 200px;
  border-radius:5px 5px 0 0;
}

.card .image-box img {
  width: 100%;
  object-fit: cover;
}

.card .title {
  text-align: center;
}

.card .title h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

#root {
  color: #795548;
  font-size: larger;
  align-items: center;
}

.card .description{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: medium;
}

.card .description img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.card .description p{
  margin: 10px 0;
  font-size: 0.9em;
  color: #666;
}

.card button{
  margin-top: 10px 0;
  margin-bottom: 10px;
  background-color: #86553f;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px 15px; 
  font-size: .9rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
}

.card button a {
  text-decoration: none;
}

button:hover{
  background-color: #dbb657;
  color: white;
  transition: .5s;
  cursor: pointer;
}

.footer {
  background-color: #86553f;
  color: #fff;
  padding: 50px 20px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h3 {
  font-size: x-large;
}

.footer .logo img {
  height: 80px;
  border-radius: 50%;
}

.footer .links ul li a,
.footer .resources ul li a,
.footer .company ul li a,
.footer .social ul li a {
  color: #fff;
  transition: color 0.3s ease;
  font-size: medium;
  line-height: 2;
  font-weight: 400;
}

.footer .links ul li a:hover,
.footer .resources ul li a:hover,
.footer .company ul li a:hover,
.footer .social ul li a:hover {
  color: #dbb657;
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  color: #ddd;
}
