body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease, background-color 0.3s ease;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header {
  background-color: #86553f;
  color: #fff;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

header .logo .company-name {
  font-size: 1.875em;
  font-weight: 700;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  font-weight: 500;
}
header nav ul li a:hover {
  color: #dbb657;
  font-weight: 500;
}

header .auth-buttons a {
  color: #fff;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

header .auth-buttons .sign-in {
  background-color: transparent;
  border: 1px solid #fff;
}

header .auth-buttons .sign-up {
  background-color: #dbb657;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #FAFAFA;
  margin-right: 15px;
  font-size: 46px;
}

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.hero{
  position: relative;
  text-align: center;
  color: #fff;
  height: 600px;
}

.hero img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.hero .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.hero .hero-text h1 {
  margin: 0;
  font-size: 2em;
}

.hero .hero-text p {
  margin: 10px 0;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9em;
}

.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.section .section-text{
  max-width: 100%;
}

.section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.section p {
  font-size: 1em;
  color: #333;
}

.section img {
  max-width: 50%;
  height: 25%;
  border-radius: 75%;
}

.follow-us {
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follow-us .text {
  flex: 1;
}
.follow-us .text h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.follow-us .text p {
  font-size: 1em;
  color: #666;
}
.follow-us .social-icons a {
  margin: 0 10px;
  color: #333;
  font-size: 1.5em;
}
.follow-us .images {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.follow-us .images img {
  width: calc(33.333% - 10px);
  height: auto;
  border-radius: 10px;
}

.footer {
  background-color: #86553f;
  color: #fff;
  padding: 50px 20px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h3 {
  font-size: x-large;
}


.footer .logo img {
  height: 80px;
  border-radius: 50%;
}

.footer .links ul li a,
.footer .resources ul li a,
.footer .company ul li a,
.footer .social ul li a {
  color: #fff;
  transition: color 0.3s ease;
  font-size: medium;
  line-height: 2;
  font-weight: 400;
}

.footer .links ul li a:hover,
.footer .resources ul li a:hover,
.footer .company ul li a:hover,
.footer .social ul li a:hover {
  color: #dbb657;
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  color: #ddd;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero .text, .hero img {
    max-width: 100%;
  }

  .features .feature-list {
    flex-direction: column;
    gap: 30px;
  }

  .testimonial {
    flex-direction: column;
    text-align: center;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

